name: CI-MIAR-PR9

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies for notification_service
        working-directory: notification_service
        run: |
          pip install -r requirements.txt

      - name: Run tests for notification_service
        working-directory: notification_service
        run: |
          pytest

      - name: Install dependencies for payment_service
        working-directory: payment_service
        run: |
          pip install -r requirements.txt

      - name: Run tests for payment_service
        working-directory: payment_service
        run: |
          pytest

  build-images:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Build images
        run: |
          docker build notification_service -t notification-service:latest
          docker build payment_service -t payment-service:latest

          docker save notification-service:latest -o notification-service.tar
          docker save payment-service:latest -o payment-service.tar

      - name: Upload images
        uses: actions/upload-artifact@v4
        with:
          name: docker-images
          path: |
            notification-service.tar
            payment-service.tar

  push-to-dockerhub:
    needs: build-images
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: docker-images
          path: .

      - name: Login DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ vars.DOCKER_PASSWORD }}

      - name: Push images
        run: |
          docker load -i notification-service.tar
          docker load -i payment-service.tar

          docker tag notification-service:latest ${{ vars.DOCKER_USERNAME }}/notification-service:latest
          docker tag payment-service:latest ${{ vars.DOCKER_USERNAME }}/payment-service:latest

          docker push ${{ vars.DOCKER_USERNAME }}/notification-service:latest
          docker push ${{ vars.DOCKER_USERNAME }}/payment-service:latest

  push-to-yandexcloud:
    needs: build-images
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: docker-images
          path: .

      - name: Login to Yandex Cloud Registry
        uses: docker/login-action@v3
        with:
          registry: cr.yandex
          username: json_key
          password: ${{ secrets.YC_KEYS }}

      - name: Push YC images
        run: |
          docker load -i notification-service.tar
          docker load -i payment-service.tar

          docker tag notification-service:latest cr.yandex/${{ secrets.YC_REGISTRY_ID }}/notification-service:latest
          docker tag payment-service:latest cr.yandex/${{ secrets.YC_REGISTRY_ID }}/payment-service:latest

          docker push cr.yandex/${{ secrets.YC_REGISTRY_ID }}/notification-service:latest
          docker push cr.yandex/${{ secrets.YC_REGISTRY_ID }}/payment-service:latest

  deploy-notification:
    runs-on: ubuntu-latest
    needs: push-to-yandexcloud
    steps:
      - name: Deploy notification service
        uses: yc-actions/yc-sls-container-deploy@v4
        with:
          yc-sa-json-credentials: ${{ secrets.YC_KEYS }}
          container-name: ${{ secrets.YC_CONTAINER_NAME_NOTIFICATION }}
          folder-id: ${{ secrets.YC_FOLDER_ID }}
          revision-image-url: cr.yandex/${{ secrets.YC_REGISTRY_ID }}/notification-service:latest
          revision-service-account-id: ${{ secrets.YC_SA_ID }}
          revision-memory: 512Mb

  deploy-payment:
    runs-on: ubuntu-latest
    needs: push-to-yandexcloud
    steps:
      - name: Deploy payment service
        uses: yc-actions/yc-sls-container-deploy@v4
        with:
          yc-sa-json-credentials: ${{ secrets.YC_KEYS }}
          container-name: ${{ secrets.YC_CONTAINER_NAME_PAYMENT }}
          folder-id: ${{ secrets.YC_FOLDER_ID }}
          revision-image-url: cr.yandex/${{ secrets.YC_REGISTRY_ID }}/payment-service:latest
          revision-service-account-id: ${{ secrets.YC_SA_ID }}
          revision-memory: 512Mb
